body {
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:visited {
    color: black;
}

a:hover {
    color: #7a7a7a;
}

.submission_time {
    padding-left: 40px;
    color: grey;
    font-size: 11px;
}

.container {
    position: relative;
    top: 30%;
    margin-left: 70%;
}

.message {
    margin: auto 10%;
}

.answer {

    margin-top: 50px;
}


.comment{
    position: relative;
    left: 30px;
color: #393939;
font-size: 15px;
}

.not_button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: black;
    font-weight: bold;
  cursor: pointer;
    font-size: 16px;
}

.not_button:hover {
    color: #7a7a7a;
}
