* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #212529;;
}

a.question,a.question:visited {
    text-decoration: none;
    color: white;
}

.submission_time {
    color: grey;
}

.button {
    position: relative;
    top: 20px;
    right: 15%;
    padding: 6px 11px;
    background-color: white;

    border-radius: 6px;
    border: black 2px solid;

    margin-top: 10px;
    margin-left: 30%;
}

.button:hover {
    background-color: #f1f1f1;
}


.tablecontainer{
    margin: auto;
    width: 70%;
}
/*
td {
    border-bottom: black 1px solid;
}

table {
    width: 70%;
    margin: auto;
}

tr:hover {
    background-color: #f0f0f0;
}

*/
input[type = "text"],input[type="password"]{
    border-radius: 8px;
    border: 0.7px solid black;
    outline: none;
    padding-top: 3px;
    padding-bottom: 3px;

}

/*select{
    border-radius: 8px;
    outline: none;
    padding-top: 3px;
    padding-bottom: 3px;
}*/

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}