<!DOCTYPE html>
{% extends "layout.html" %}

{% block header %}
    <title>{% block title %}Add Question{% endblock %}</title>
    <link href="{{ url_for("static",filename="question.css") }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

{% if question %}
<form action="/question/<question_id>/edit" method="POST" autocomplete="off">
{% else %}
<form action="/add-question" method="POST" autocomplete="off">
{% endif %}

    <input name="id" hidden="hidden" value="{{ id if not question else question.id}}">
    <input name="submission_time" hidden="hidden" value="{{ '0 ' if not question else question.submission_time }}">
    <input name="view_number" hidden="hidden" value="{{ '0' if not question else question.view_number }}">
    <input name="vote_number" hidden="hidden" value="{{ '1' if not question else question.vote_number }}">
    <input name=title placeholder="Title..." type="text" minlength="5" maxlength="50" value="{{ question.title }}"required>
    <br><textarea name=message placeholder="Your question..."  cols="60" rows="6" required>{{ question.message }}</textarea>
    <br><input name=image type="text" placeholder="Image link..." value="{{ question.image }}">
    <br><button class="not_button" type="submit">{% if not question %}Ask {% else %} Edit {% endif %}</button>
</form>
<button class="not_button"><a style="text-decoration: none;color:black;" href="/list">Back</a></button>

{% endblock %}