<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="https://www.freeiconspng.com/uploads/avengers-icon-19.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% block header %}{% endblock %}
</head>
<body class="text-white" style="background-color: #212529">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{{ url_for('route_list') }}">Askmate</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if 'username' in request.cookies%}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('route_profile') }}"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('route_list') }}"><i class="fa fa-th-list"></i> Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('route_list_user_info') }}"><i class="fa fa-users"></i> Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("route_add_question") }}"><i class="fa fa-plus-square"></i> Add
                    Question</a>
            </li>
            {% endif %}
        </ul>
        {% if 'username' not in request.cookies %}
            <div>
                <form class="form-inline mr-sm-4"
                      action="{{ url_for('route_login') }}"
                      method="post" autocomplete="off">
                        <label for="username" class="text-muted my-2 my-sm-0 p-2">Username: </label>
                        <input name="username" placeholder="Username" type="text" class="form-control form-control-sm my-2 my-sm-0" id="username">
                        {% if 'usernotfound' in request.cookies %}
                            <div class="alert alert-danger">
                                User not found!
                            </div>
                        {% endif %}


                        <label for="pwd" class="text-muted my-2 my-sm-0 p-2">Password: </label>
                        <input name=password placeholder="Password" type="password" class="form-control form-control-sm my-2 my-sm-0" id="pwd">
                        {% if 'wrongpassword' in request.cookies %}
                            <div class="alert alert-danger">
                                Wrong password!
                            </div>
                        {% endif %}

                    <div class="pl-2">
                        <button type="submit" class="btn btn-outline-success my-0 my-sm-0">Log in</button>
                    </div>
                    <div class="pl-2"><a class="btn btn-outline-primary my-2 my-sm-0"
                                         href="{{ url_for('route_registration') }}"> Sign
                        Up </a>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="pr-5"><p class="text-muted my-2 my-sm-0 p-2 h5">
                Welcome {{ request.cookies.get('username') }}!</p>
            </div>
        {% endif %}
        <div class="logout animated hinge infinite">
            <a href="{{ url_for('route_logout') }}" class="btn btn-outline-danger my-2 my-sm-0"><i
                    class="fa fa-sign-out"></i> Log out</a>
        </div>
    </div>
</nav>
<div>
    {% block content %} {% endblock %}
</div>
</body>
</html>