<!DOCTYPE html>
<html>
<head>
    <title>Ask Mate</title>
    <link href="{{ url_for("static",filename="style.css") }}" type="text/css" rel="stylesheet"/>
</head>
<body>

<a class="button" href={{ url_for("route_add_question") }}>Add new question</a>
<div class="container">
    <form action="{{ url_for ('route_list') }}" method="GET">
        <select name="ordered_by">
            {% for s_option in s_options %}
                <option value="{{ s_option }}" {{ "selected" if selected_s_option==s_option }}>{{ s_option }}</option>
            {% endfor %}
        </select>

        <select name="order_direction">
            {% for o_option in o_options %}
                <option value="{{ o_option }}" {{ "selected" if selected_o_option==o_option }}>{{ o_option }}</option>
            {% endfor %}
        </select>
        <button type="submit">Sort</button>
    </form>
</div>
<table>
    <th>Views</th>
    <th>Votes</th>
    {% for q in questions %}

        <tr>

            <td align="center">
                {{ q["view_number"] }}

            </td>
            <td align="center">
                {{ q["vote_number"] }}
            </td>
            <td>
                <a href={{ url_for('route_question', question_id=q.id) }}> {{ q["title"] }} </a>
                <br>
                <div class="grey">{{ q["submission_time"] }}</div>

            </td>


        </tr>
    {% endfor %}
</table>
</body>
</html>
