<!DOCTYPE html>
{% extends "layout.html" %}

{% block header %}
    <title>{% block title %}Questions{% endblock %}</title>
    <link href="{{ url_for("static",filename="style.css") }}" type="text/css" rel="stylesheet"/>

{% endblock %}
{% block content %}



    <div class="float-right py-4" style="padding-right: 200px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <form action="{{ url_for('route_search') }}" class="form-inline" method="GET"
                          autocomplete="off">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input name="q" type="text" class="form-control form-control-sm" placeholder="Search"
                                   required>
                            <button type="submit" class="btn bg-transparent text-white"><i
                                    class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            {% if search is not defined %}
                {% if searched %}
                    <form class="form-inline" action="{{ url_for ('route_search') }}" method="GET">
                {% else %}
                    <form class="form-inline" action="{{ url_for ('route_list') }}" method="GET">
                {% endif %}
            <select name="ordered_by" class="form-control form-control-sm">
                {% for s_option in s_options %}
                    <option value="{{ s_option }}" {{ "selected" if selected_s_option==s_option }}>{{ s_option }}</option>
                {% endfor %}
            </select>
            <select name="order_direction" class="form-control form-control-sm">
                {% for o_option in o_options %}
                    <option value="{{ o_option }}" {{ "selected" if selected_o_option==o_option }}>{{ o_option }}</option>
                {% endfor %}
            </select>
            <div class="col-sm-1">
                <button type="submit" class="btn bg-transparent text-white pl-1"><i class="fa fa-filter"></i>
                </button>
            </div>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="tablecontainer mx-auto">
        <table class="table table-hover table-dark table-sm" style="background-color: #212529">
            <thead>

            <th class="w-2 text-center" scope="col">Views</th>
            <th class="w-2 text-center" scope="col">Votes</th>
            <th class="w-2 text-center" scope="col">Questions</th>
            </thead>
            <tbody>
            {% for q in questions %}
                <tr>
                    <td class="text-center align-middle">{{ q["view_number"] }}</td>

                    <td class="text-center align-middle">{{ q["vote_number"] }}</td>
                    <td>
                        <a class="question"
                           href={{ url_for('route_question', question_id=q.id) }}> {{ q["title"] }} </a><br>
                        <div class="submission_time">{{ q["submission_time"] }}</div>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}