<!DOCTYPE html>
{% extends "layout.html" %}

{% block header %}
    <title>{% block title %}{{ question["title"] }}{% endblock %}</title>
{% endblock %}

{% block content %}

    <h1>{{ question["title"] }}</h1>
    <div class="message">{{ question["message"] }}</div>


    <div class="submission_time"><br>Asked:
        {{ question["submission_time"] }}</div>
    {% if request.cookies.get('user_id')|int == question["user_id"]|int %}
        <div class="container">
            <br><a class="btn btn-outline-warning" href="{{ url_for("route_edit", question_id=question["id"]) }}"><i class="fa fa-pencil pr-2"></i>Edit Question</a>
            <a class="btn btn-outline-danger"
               href="{{ url_for("route_delete_question",question_id=question["id"]) }}"><i
                    class="fa fa-trash-o pr-2"></i>Delete Question</a>
        </div>
    {% endif %}

    <div class="comment">
        <table>
            {% for comment in comments %}
                {% if comment['question_id']|int == question['id']|int %}
                    <tr>
                        <td>
                            {{ comment["message"] }} Edited {{ comment['edited_count'] }} times
                            <br>
                            <div class="submission_time">Commented: {{ comment["submission_time"] }}</div>
                        </td>
                        {% if request.cookies.get('user_id')|int == comment.user_id|int %}
                            <td>
                                <a class="btn btn-outline-danger"
                                   href="{{ url_for("route_delete_comment",comment_id=comment["id"]) }}"><i
                                        class="fa fa-trash-o pr-2"></i>Delete
                                    Comment</a>
                            </td>
                        {% endif %}

                        {% if request.cookies.get('user_id')|int == comment.user_id|int %}
                            <td>
                                <form action="{{ url_for('route_question',question_id=question["id"]) }}"
                                      method="post">
                                    <input name="id" type="hidden" value="{{ comment.id }}">
                                    <input name="question_id" type="hidden" value="{{ comment.question_id }}">
                                    <input name="answer_id" type="hidden" value="{{ comment.answer_id }}">
                                    <input name="message" type="hidden" value="{{ comment.message }}">
                                    <input name="submission_time" type="hidden" value="{{ comment.submission_time }}">
                                    <input name="edited_count" type="hidden" value="{{ comment.edited_count }}">
                                    <button class="btn btn-outline-warning" type="submit"><i class="fa fa-pencil pr-2"></i></i>Edit Comment
                                    </button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}


            {% endfor %}
        </table>
    </div>


    {% if comment_to_edit %}
        {% if comment_to_edit %}
            <form action='{{ url_for("route_edit_comment",comment_id = comment_to_edit['id']) }}'
                  method="POST"
                  autocomplete="off">

        {% else %}
            <form action='{{ url_for("route_new_question_comment",question_id = question['id']) }}' method="POST"
                  autocomplete="off">
        {% endif %}
    {% if comment_to_edit %}
        <input type="hidden" name="id" value="{{ comment_to_edit.id }}">
    {% endif %}
    <input name='question_id' type="hidden" value="{{ question.id }}">
    <input name="answer_id" type="hidden" value="NULL">
    <textarea name="message" cols="30" rows="1" placeholder="Here comes your comment..." required
              minlength="3">{{ comment_to_edit.message }}</textarea>
    <input name="submission_time" type="hidden"
           value="{{ '0 ' if not comment_to_edit else comment_to_edit.submission_time }}">
    <input name="edited_count" type="hidden"
           value="{{ 'NULL' if not comment_to_edit else comment_to_edit.edited_count }}">
    <input name="user_id" type="hidden" value="{{ request.cookies.get("user_id") }}">
    <button class="btn btn-outline-info pr-2" type="submit">{% if not comment_to_edit %}Post Comment {% else %}
        Edit {% endif %}</button>
    </form>
    {% endif %}


<form action="{{ url_for('route_question',question_id=question["id"]) }}" method="get">
    <input name="comment_to_question" type="hidden" value="{{ question['id'] }}">
    <button {{ 'disabled' if 'username' not in request.cookies }} class="btn btn-outline-info" type="submit"><i
            class="fa fa-commenting-o pr-2"></i>
        Add Comment
    </button>
</form>



{% if question["image"] %}
    <br>
    <img src="{{ question["image"] }}">
{% endif %}
<br/>
Votes:
{{ question["vote_number"] }}
Views:
{{ question["view_number"] }}


<br>
<a class="text-success" href="{{ url_for("route_question_vote_up", question_id = question["id"]) }}"><i
        class="fa fa-thumbs-up"></i></a>
<a class="text-danger" href="{{ url_for("route_question_vote_down", question_id = question["id"]) }}"><i
        class="fa fa-thumbs-down"></i></a>
<br>

<a class="btn btn-outline-info" href="/list"><i class="fa fa-arrow-circle-left pr-2"></i>Back</a>


<div class="answer">
    <table>
        {% for answer in answers %}
            <tr>
                <td>
                    {{ answer["message"] }}
                    <br>
                    <a class="text-success" href="{{ url_for("route_answer_vote_up", answer_id = answer["id"]) }}"><i
                            class="fa fa-thumbs-up"></i></a>
                    <a class="text-danger" href="{{ url_for("route_answer_vote_down", answer_id = answer["id"]) }}"><i
                            class="fa fa-thumbs-down"></i></a>
                    <br>
                    <div class="submission_time">Answered: {{ answer["submission_time"] }}</div>
                    {% if answer["image"] %}
                        <br>
                        <img src="{{ answer["image"] }}"/>
                    {% endif %}
                    <div class="comment">
                        <table>
                            {% for comment in comments %}
                                {% if comment['answer_id']|int == answer['id']|int %}
                                <tr>
                                    <td>
                                        <div class="comment">{{ comment["message"] }}
                                            Edited {{ comment['edited_count'] }} times
                                        </div>

                                        <br>
                                        <div class="submission_time">
                                            Commented: {{ comment["submission_time"] }}</div>
                                    </td>

                                    {% if request.cookies.get('user_id')|int ==  comment.user_id|int %}

                                        <td>
                                            <a class="btn btn-outline-danger"
                                               href="{{ url_for("route_delete_comment",comment_id=comment["id"]) }}"><i
                            class="fa fa-trash-o pr-2"></i>Delete
                                                Comment</a>
                                        </td>
                                    {% endif %}
                                    {% if request.cookies.get('user_id')|int ==  comment.user_id|int %}

                                        <td>
                                            <form action="{{ url_for('route_question',question_id=question["id"]) }}"
                                                  method="post">
                                                <input type="hidden" name="id" value="{{ comment.id }}">
                                                <input name="question_id" type="hidden"
                                                       value="{{ comment.question_id }}">
                                                <input name="answer_id" type="hidden" value="{{ comment.answer_id }}">
                                                <input name="message" type="hidden" value="{{ comment.message }}">
                                                <input name="submission_time" type="hidden"
                                                       value="{{ comment.submission_time }}">
                                                <input name="edited_count" type="hidden"
                                                       value="{{ comment.edited_count }}">
                                                <button class="btn btn-outline-warning" type="submit"><i class="fa fa-pencil pr-2"></i>Edit Comment
                                                </button>
                                            </form>
                                        </td>
                                        {% endif %}
                                        </tr>
                                    {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    {% if answer_id|int == answer.id|int or comment_to_edit and answer.id|int == comment_to_edit.answer_id|int %}
                        {% if comment_to_edit %}
                            <form action='{{ url_for("route_edit_comment",comment_id = comment_to_edit.id) }}'
                                  method="POST"
                                  autocomplete="off">
                        {% else %}
                            <form action='{{ url_for("route_new_answer_comment",answer_id = answer['id']) }}'
                                  method="POST"
                                  autocomplete="off">
                        {% endif %}
                    {% if comment_to_edit %}
                        <input name="id" hidden="hidden" value="{{ comment_to_edit.id }}">
                    {% endif %}
                    <input name='question_id' type="hidden" value="NULL">
                    <input name="answer_id" type="hidden"
                           value="{{ answer['id'] if not comment_to_edit else comment_to_edit.answer_id }}">
                    <textarea name="message" cols="30" rows="1" placeholder="Here comes your comment..."
                              required
                              minlength="3">{{ comment_to_edit.message }}</textarea>
                    <input name="submission_time" type="hidden"
                           value="{{ '0 ' if not comment_to_edit else comment_to_edit.submission_time }}">
                    <input name="edited_count" type="hidden"
                           value="{{ 'NULL' if not comment_to_edit else comment_to_edit.edited_count }}">
                    <input type="hidden" name="user_id" value="{{ request.cookies.get('user_id') }}">
                    <button class="btn btn-outline-info" type="submit"><i class="fa fa-commenting-o pr-2"></i>
                        {% if not comment_to_edit %}Post Comment {% else %}
                            Edit {% endif %}</button>
                    </form>

                    {% endif %}

                    <form action="{{ url_for('route_question',question_id=question["id"]) }}" method="get">
                        <input name="answer_id" type="hidden" value="{{ answer['id'] }}">
                        <button {{ 'disabled' if 'username' not in request.cookies }} class="btn btn-outline-info"
                                                                                      type="submit"><i
                                class="fa fa-commenting-o pr-2"></i>Add
                            Comment
                        </button>
                    </form>

                </td>
                <td style="vertical-align: top">
                    Votes:
                    {{ answer["vote_number"] }}
                </td>
                {% if request.cookies.get('user_id')|int ==  answer.user_id|int %}

                <td style="vertical-align: top">
                    <form action="{{ url_for('route_question',question_id=question["id"]) }}" method="get">
                        <input name="answer_to_edit" type="hidden" value="{{ answer.id }}">
                        <button class="btn btn-outline-warning" type="submit"><i class="fa fa-pencil pr-2"></i>Edit
                            Answer
                        </button>
                    </form>
                </td>
            {% endif %}
                {% if request.cookies.get('user_id')|int ==  answer.user_id|int %}

                <td style="vertical-align: top">
                    <a class="btn btn-outline-danger"
                       href="{{ url_for("route_delete_answer",answer_id = answer["id"]) }}"><i
                            class="fa fa-trash-o pr-2"></i>Delete Answer</a>
                </td>
                <td style="vertical-align: top">
                    <a class="btn btn-outline-success"
                        href="{{ url_for("route_change_accept", answer_id = answer['id']) }}"> Accept
                    </a>
                </td >

            {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% if answer_to_edit %}
        <form action="{{ url_for("route_edit_answer",answer_id = answer_to_edit['id']) }}" method="POST"
              autocomplete="off">
    {% else %}
        <form action="{{ url_for("route_new_answer", question_id=question['id']) }}" method="POST" autocomplete="off">
    {% endif %}
    <div class="form-group purple-border">
        {% if answer_to_edit %}
            <input name="id" type="hidden" value="{{ answer_to_edit.id }}">
        {% endif %}
        <input name="submission_time" hidden="hidden" value="{{ answer_to_edit.submission_time }}">
        <input name="vote_number" hidden="hidden"
               value="{{ '1' if not answer_to_edit else answer_to_edit.vote_number }}">
        <input name="question_id" hidden="hidden"
               value="{{ question["id"] if not answer_to_edit else answer_to_edit.question_id }}">
        <textarea {{ 'disabled' if 'username' not in request.cookies }} class="form-control-feedback bg-dark text-white"
                                                                        name="message"
                                                                        placeholder="Answer the question pls..."
                                                                        cols="60" rows="6" minlength="5"
                                                                        required>{{ answer_to_edit.message }}</textarea>
        <br><input type="text" name="image" placeholder="image url..." value="{{ answer_to_edit.image }}">
        <input name="user_id" type="hidden" value="{{ request.cookies.get("user_id") }}">
        <br>
        <button {{ 'disabled' if 'username' not in request.cookies }} class="btn btn-outline-info" type="submit"><i
                class="fa fa-comment pr-2"></i>
            {% if not answer_to_edit %}Add Answer {% else %} Edit
                Answer {% endif %}</button>
    </form>
</div>
</div>
{% endblock %}