<!DOCTYPE html>
{% extends 'layout.html' %}

{% block title %}Registration{% endblock %}
{% block header %}
    <link href="{{ url_for("static",filename="signup.css") }}" type="text/css" rel="stylesheet"/>
    <script>function check() {
    if (document.getElementById('password').value ==
        document.getElementById('confirm_password').value) {
        document.getElementById('message').style.color = 'green';

        document.getElementById('message').innerHTML = 'Passwords are matching';
        document.getElementById('submit').disabled = false;
    } else {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'Passwords are NOT matching';
        document.getElementById('submit').disabled = true;
    }
}</script>
{% endblock %}

{% block content %}


    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row text-dark">
                    <div class="col-md-6 mx-auto">
                        <div class="card border-secondary">
                            <div class="card-header">
                                <h3 class="mb-0 my-2 text-center">Sign up for Askmate Account</h3>
                            </div>
                            <div class="card-body">
                                <form action="{{ url_for('route_registration') }}" method="post" class="form"
                                      role="form">
                                    <div class="form-group">
                                        <label for="username"><h4>User name:</h4></label>
                                        <input class='form-control' id="username" name="username" type="text"
                                               minlength="5" maxlength="16" placeholder="Username" autocomplete="off"
                                               required>
                                    </div>
                                    {% if usernametaken is defined %}
                                        <div class="alert alert-danger">
                                            Username is taken!
                                        </div>{% endif %}
                                    <div class="form-group">
                                        <label for="password"><h4>Password:</h4></label>
                                        <input class="form-control" id="password" name="password" type="password"
                                               minlength="5" maxlength="24" placeholder="Password" onkeyup='check();'
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password"><h4>Confirm Password:</h4></label>
                                        <input class='form-control' placeholder="Confirm Password" type="password"
                                               name="confirm_password" id="confirm_password" onkeyup='check();'/>
                                    </div>
                                    <span id='message'></span>
                                    <button id="submit" type="submit" class="button btn-sm float-right"><span>Sign Up</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <a href="{{ url_for('route_list') }}"></a>


{% endblock %}