<!DOCTYPE html>
{% extends "layout.html" %}

{% block header %}
    <title>{% block title %}Profile Page{% endblock %}</title>
{% endblock %}

{% block content %}
    <div class="accordion" id="accordionExample">
        {% for question in questions %}

            <div class="card w-50 mx-auto my-2">
                <div class="card-header" id="heading{{ question.id }}">
                    <p class="text-muted">{{ question.submission_time }}</p>
                    <h4 class="card-title mb-0">
                        <a class="text-dark text-decoration-none"
                           href={{ url_for('route_question', question_id=question.id) }}> {{ question.title }} </a>

                        <button class="btn btn-link float-right" type="button" data-toggle="collapse"
                                data-target="#collapse{{ question.id }}" aria-expanded="true"
                                aria-controls="collapse{{ question.id }}">
                            <i class="fa fa-chevron-down text-dark"></i>
                        </button>
                    </h4>
                </div>

                <div id="collapse{{ question.id }}" class="collapse " aria-labelledby="heading{{ question.id }}"
                     data-parent="#accordionExample">
                    <div class="card-body text-dark">
                        {{ question.message }}
                        <div class="accordion" id="accordionExample">
                            {% for question in questions %}

                                <div class="card w-50 mx-auto my-2">
                                    <div class="card-header" id="heading{{ question.id }}">
                                        <p class="text-muted">{{ question.submission_time }}</p>
                                        <h4 class="card-title mb-0">
                                            <a class="text-dark text-decoration-none"
                                               href={{ url_for('route_question', question_id=question.id) }}> {{ question.title }} </a>

                                            <button class="btn btn-link float-right" type="button"
                                                    data-toggle="collapse"
                                                    data-target="#collapse{{ question.id }}" aria-expanded="true"
                                                    aria-controls="collapse{{ question.id }}">
                                                <i class="fa fa-chevron-down text-dark"></i>
                                            </button>
                                        </h4>
                                    </div>

                                    <div id="collapse{{ question.id }}" class="collapse "
                                         aria-labelledby="heading{{ question.id }}"
                                         data-parent="#accordionExample">
                                        <div class="card-body text-dark">
                                            {{ question.message }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}