<!DOCTYPE html>
{% extends 'layout.html' %}


{% block header %}

  <title> {% block title%}List of users and their attributes {% endblock %}</title>

{% endblock %}

{% block content %}

    <div class="users_info">
        <table>
            <th>ID</th>
            <th>User Name</th>
            <th>Registration Date</th>
            {% for user in users_data %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.registration_date }}</td>
                </tr>




            {% endfor %}

        </table>

    </div>

{% endblock %}

