<!DOCTYPE html>
{% extends "layout.html" %}

{% block header %}
    <title>{% block title %}Profile Page{% endblock %}</title>

    <style>
        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active, .collapsible:hover {
            background-color: #555;
        }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>
{% endblock %}

{% block content %}
    <!--
    <table style="background-color: #212529" class="table table-dark w-75">
        <thead>
        <tr>
            <th class="w-25 text-center" scope="col">Date</th>
            <th class="text-center" scope="col">Question</th>
        </tr>
        </thead>

        <tbody>
        {% for question in questions %}
            <tr>
                <td class="text-center">
                    {{ question.submission_time }}
                </td>
                <td>
                    <a href={{ url_for('route_question', question_id=question.id) }}> {{ question.title }} </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for question in questions %}
        {{ question.id }}
        <div class="card">
            <div class="card-body bg-light text-dark">
                <h6 class="card-header text-muted">{{ question.submission_time }}</h6>
                <h5 class="card-title"><a
                        href={{ url_for('route_question', question_id=question.id) }}> {{ question.title }} </a></h5>
                <button class="btn btn-info float-right" type="button" data-toggle="collapse"
                        data-target="{{ question.submission_time }}"
                        aria-expanded="false"
                        aria-controls="{{ question.submission_time }}">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="collapse" id="{{ question.submission_time }}">
                    <p>Sample Sample Sample Sample Sample Sample Sample Sample Sample Sample Sample Sample Sample
                        Sample </p>
                </div>
            </div>
        </div>
    {% endfor %}
        -->

    <div id="faq" role="tablist" aria-multiselectable="true">
        {% for question in questions %}

            <div class="card text-dark">
                <div class="card-header" role="tab" id="q{{ question.id }}">
                    <h6 class="card-header text-muted">{{ question.submission_time }}</h6>
                    <h5 class="card-title">
                        <a href={{ url_for('route_question', question_id=question.id) }}> {{ question.title }} </a>
                    </h5>
                    <a class="btn btn-info float-right" data-toggle="collapse" data-parent="#faq"
                       href="#{{ question.id }}" aria-expanded="true"
                       aria-controls="{{ question.id }}"><i class="fa fa-chevron-down"></i></a>

                </div>
                <div id="{{ question.id }}" class="collapse show" role="tabcard" aria-labelledby="q{{ question.id }}">
                    <div class="card-body">
                        Sample Sample Sample Sample Sample Sample Sample Sample Sample Sample Sample Sample Sample
                        Sample
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}